<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>用户端</title>
    <script src="../js/vue.dev.js"></script>
    <script src="../css/style.css"></script>
</head>

<body>
<div id="app">
    <div class="main">
        <p v-for="message in messages">
            <mark>{{message.name}} {{message.time}}</mark> {{message.content}}
        </p>
    </div>
    <div>
        <div>
            <textarea rows="3" cols="20" id="content" v-model="content"></textarea>
        </div>
        <div><button type="button" @click="send">Send</button></div>
    </div>
</div>

<script>

    var app = new Vue({
        el: '#app',
        data: {
            wsUrl: "ws://127.0.0.1:8080/ws/cheat?client=js&version=1.0",
            sender:"111",
            receiver:"900150983cd24fb0d6963f7d28e17f72",
            ws: {},
            messages: [],
            preMessage: {},
            keepAlive: false,
            content: ''
        },
        created: function () {
            this.ws = new WebSocket(this.wsUrl);
            this.ws.onopen = this.open;
            this.ws.onmessage = this.onmessage;
            this.ws.onclose = this.onclose;
            this.ws.onerror = this.onerror;
            this.ping();
        },
        methods: {
            open: function () {
                // todo login message
                this.messages.push({
                    "type": "text",
                    "name": "System",
                    "content": "Join the chat!",
                    "time": "2019-09-16 20:00:00",
                });
            },
            onmessage: function (event) {
                const data = JSON.parse(event.data);
                let message = "";
                switch (data.action) {
                    case "ping":
                        // todo other
                        break;
                    case "msg":
                        message = data.msg;
                        break;
                }
                if (message !== "") {
                    this.messages.push({
                        "type": "text",
                        "name": "Server",
                        "content": message,
                        "time": data.time,
                    });
                }
            },
            ping: function () {
                const app = this;
                setInterval(function() {
                    app.ws.send('{"action":"ping","msg":"ping","type":"text","to":"1"}');
                }, 10000);
            },
            onclose: function (event) {
                console.log(event);
            },
            onerror: function (event) {
                console.log(event);
            },
            send: function () {
                if (this.content.trim() === '') {
                    alert("聊天内容不能为空");
                    return;
                }
                const message = {
                    action: "msg",
                    msg: this.content,
                    type: "text",
                    version: Date.now(),
                    sender: this.sender,
                    receiver: this.receiver,
                };
                this.ws.send(JSON.stringify(message));
                // todo 后续增加 ack 验证
                this.content = "";
            }
        }
    });

</script>
</body>

</html>